.Welcome {
    text-align: center;
}

html {
    background-color: #E8EBF3;
}

.Welcome-header {
    background-color: #cbd5e1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

#form-file-upload {
    height: 16rem;
    width: 28rem;
    max-width: 100%;
    text-align: center;
    position: relative;
}

#file-upload {
    display: none;
}

#label-file-upload {
    padding: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 3px;
    border-radius: 1rem;
    border-style: dashed;
    border-color: rgba(64, 78, 124, 0.72);
    background-color: #FFFFFF;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

#label-file-upload.drag-active {
    border-color: #404E7C;
    background-color: rgba(64, 78, 124, 0.72);
}

.or {
    color: #404E7C;
    margin-bottom: 0;
}

.file-url {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    border-radius: 10px;
    background-color: #FFFFFF;
    border: 1px solid rgba(64, 78, 124, 0.72);
}

.file-url-input {
    background-color: transparent;
    padding: 5px 10px;
    width: 100%;
    margin: 0;
    border: none;
    caret-color: #404E7C;
    color: #404E7C;
}

.file-url-input:focus {
    border: none;
    outline: none;
}

.file-url-button {
    color: #404E7C;
    padding: 5px 10px;
    border-left: 1px dashed rgba(64, 78, 124, 0.72);
    margin: 0;
    height: 100%;
}

.file-url-input::placeholder {
    /*color: ;*/
}

.drag-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.upload-button svg {
    margin-right: 16px;
}

.upload-button {
    cursor: pointer;
    padding: 0.25rem;
    font-size: 3rem;
    color: #404E7C;
    border: none;
    background-color: transparent;
}

.upload-button:hover {
    text-decoration-line: underline;
}

.image-grid-item > img.thumbnail-animal,
.image-gallery-thumbnail.thumbnail-animal.active,
.image-gallery-thumbnail.thumbnail-animal:hover {
    border-color: #4C9F70;
}

/*.original-animal .image-gallery-description {*/
/*    background-color: rgba(76, 159, 112, 0.18) !important;*/
/*}*/

.image-grid-item > img.thumbnail-broken,
.image-gallery-thumbnail.thumbnail-broken.active,
.image-gallery-thumbnail.thumbnail-broken:hover {
    border-color: #FF674D;
}

/*.original-broken .image-gallery-description {*/
/*    background-color: rgba(255, 103, 77, 0.18) !important;*/
/*}*/
.image-grid-item > img.thumbnail-empty,
.image-gallery-thumbnail.thumbnail-empty.active,
.image-gallery-thumbnail.thumbnail-empty:hover {
    border-color: #F8FA90;
}

/*.original-empty .image-gallery-description {*/
/*    background-color: rgba(248, 250, 144, 0.18) !important;*/
/*}*/

.result-header {
    display: flex;
    padding: 15px;
    background-color: #E8EBF366;
    justify-content: space-between;
    align-items: center;
}

.result-header > p {
    font-size: 2rem;
    font-weight: bold;
}

.logo-container {
    margin-right: 8px;
}

.my-shadow {
    box-shadow: 0 0 4px 0 rgba(64, 78, 124, 0.25);
}

.logo {
    cursor: pointer;
    margin: 0 4px;
    background: white;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 8px;
}

.logo-active {
    border-color: #404E7C;
}

.logo:hover {
    background-color: #FAFAFA;
}


.buttons-container, .buttons-container > div {
    display: flex;
    justify-items: center;
    align-items: center;
}

.buttons-container a {
    text-decoration: none !important;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    background: #404E7C;
    padding: 5px 15px;
    color: #FFFFFF !important;
    cursor: pointer;

}

.buttons-container a:hover {
    background: #5C6B9F;
}

.buttons-container a:active {
    background: #404E7C;
}

.buttons-container > a > svg {
    margin-right: 5px;
}

.image-gallery-container {
    padding: 15px;
    /*height: 800px;*/
}

.image-gallery-container .image-gallery {
    width: 90%;
    margin: 0 auto;
}

.image-gallery-container .image-gallery-description {
    font-size: 20px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #404E7C;
    background-color: #FFFFFF00 !important;
    color: #404E7C !important;
}

.App {
    background-color: #E8EBF3;
}

.App-header {
    text-align: center;
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leave-btn {
    margin-left: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    border: none;
    border-radius: 5px;
    background: #404E7C;
    padding: 5px 15px;
    color: #FFFFFF !important;
}

.App-header p {
    margin: 5px 0 0 0;
}

.Result {
    margin: 15px;
    background-color: #FFFFFF;
    min-height: 95vh;
    border-radius: 20px;
}

.progress-bar-container {
    z-index: 4;
    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(40, 44, 52, 0.31);
}

.progress-bar {
    position: relative;
    width: 150px;
    height: 150px;
}

.circle {
    height: 100%;
    right: 0;
    position: absolute;
    border: dotted 20px rgba(197, 197, 197, 0);
    border-top-color: #404E7C;
    border-left-color: rgba(64, 78, 124, 0.43);
    border-radius: 50%;
}

.circle-border {
    width: 100%;
    transform: rotate(135deg);
    -webkit-animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.col-span-13 {
    grid-column: span 13 / span 13;
}

.grid-cols-20 {
    grid-template-columns: repeat(20, minmax(0, 1fr));
}



.image-grid-item {
    padding: 15px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.image-grid-item img {
    width: 332px;
    border: 3px solid transparent;
    border-radius: 5px;
}

.image-grid {
    margin-left: 15px;
    display: grid;
    grid-template-rows: repeat(auto-fill, 280px);
    grid-template-columns: repeat(auto-fill, 362px);
}

.image-grid-item:hover {
    transform: scale(1.05);
}

.close-btn {
    border: none;
    background-color: transparent;
    font-size: 40px;
    position: absolute;
    color: #404E7C;
    left: 90%;
    z-index: 4;
}

.image-gallery-icon {
    color: #404E7C !important;
    filter: none !important;
}

.filter-container label {
    margin-left: 5px;
    margin-right: 10px;
}

.filter-container p {
    font-weight: bold;
    font-size: 1rem;
    float: left;
    margin-left: 15px;
    margin-right: 20px;
    margin-bottom: 0;
}